#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* For mobile devices */
/* For mobile devices */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .container-fluid {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
  }

  .side-panel {
    width: 100%;
    position: static;
    margin-bottom: 1rem;
  }

  .main-content {
    margin-left: 0;
    padding: 1rem;
  }

  .card {
    width: 100%;
  }
}

/* For larger devices */
@media (min-width: 769px) {
  .main-content {
    margin-left: 220px; /* Account for the side panel width */
  }
}

